.page-enter-active, .page-leave-active {
  transition: opacity .5s;
}
.page-enter, .page-leave-to {
  opacity: 0;
}

@import url('https://fonts.googleapis.com/css?family=Cutive+Mono');

body {
font-family: 'Cutive Mono', monospace;
font-size: 16px;
}

a, p, span, li, ol, h1, h2, h3, h4 {
color: #5a5a5a;
}

a {
text-decoration: none;
text-transform: lowercase;
}
a:hover {
background: blue;
color: white;
}
.router-link-exact-active { background: blue; color: white; }

ul { list-style: none; margin: 0; padding: 0;}
